.footer{ /* Elemento usado só para estilizar o fundo  */
  background-color: #000;
  color: #ffffff;
}


.footer-container { /* Container que está dentro do elemento footer para poder centralizar o conteúdo */
  max-width: 65rem; /* Limite para que o conteúdo não expanda para mais que 65rem */
  padding: 7.5rem 1.25rem 3.75rem 1.25rem; /* Paddings para que o conteúdo desgrude dos cantos da tela */
  margin: 0 auto; /* Define as margens como zero para cima e baixo e automático dos lados para que o conteúdo fique centralizado*/
  display: grid;
  grid-template-columns: 1fr 1fr; /* Razão de 4fr 8fr, conforme o rascunho do figma */
  gap: 6.25rem; /* Distância entre a imagem e o conteúdo de introdução */
  position: relative;
  align-items: center;
}

.footer-texto{
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ccc;
}

.footer-contato li{
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-contato li a{
  color: #ffffff;
}

.footer-copy{
  grid-column: 1 / -1; /* Faz com que o elemento ocupe todas as colunas, dessa forma ele não quebra quando a tela diminui*/
  font-size: 1.125;
  color: #8f8f8f;
}

@media (max-width: 800px){
  .footer-container{
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
  .footer-contato li{
    font-size: 1.5rem;
    
  }
}